html, body {
    width:100%;
    height:100vh;
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Kulim Park', sans-serif;

    #snackbar-success {

        position: absolute;
        width:400px;
        height:55px;
        bottom: 0;
        z-index:10;
        left: 50%;
        border-radius:8px;
        transform: translate(-50%, -50%); 
        padding:4px;
        display: none;
        text-transform: uppercase;
        justify-content: center;
        align-items: center;
        background: rgb(0, 182, 9);
        color:white;
        font-weight: bold;
        flex-direction: column;

        i {
            font-size:23px;
            margin-bottom: 5px;
        }
    }



    .visible {
        width: 700px !important;
        background: #e1e1e1 !important;
        border-radius: 12px !important;

        display: flex;
        justify-content: space-between;
    }

    .toolbar-opt {
        position: absolute;
        top: 18px;
        right: 22px;
        width:400px;
        display: flex;
        justify-content: space-between;
        border-radius: 50%;
        z-index: 7;
        display: flex;
        flex-direction: column;




        .roundedIcon {
            font-size: 1.1em;
            text-align: center;
            background: #666;
            margin-left:7px;
            overflow: auto;
            color: #fff;
            border-radius: 0.8em;
        }

        #actions-bloc {
            display: none;
            max-height: 500px;
            overflow-y: auto;

            .txt-zone {
                display: none;
            }

            .result-style {
                list-style-type: none;
                padding:0;
                margin-top:0;
                width:100%;
                text-align: left;

                li {
                    margin:12px auto;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border-radius: 7px;
                    padding: 4px;
                    transition: 0.3s all;
        
                    &:hover {
                        cursor: pointer;
                        background: rgb(189, 189, 189);
                    }

                    p {
                        margin: 5px 0px;
                    }
                }
            }
        }
        .txt-zone {
            min-height: 100px;
            display: flex;
            padding: 11px;
        } 

        // div:nth-child(2) {
        //     resize: both;
        //     overflow: scroll;
        // }
        div:nth-child(1) {
            width:70%;
            margin:0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom:12px;
        }
        div:nth-child(2) {
            position: relative;
            top:15px;
            background: rgb(238, 238, 238);
            border-radius: 8px;
            padding: 8px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            
            label {
                display: flex;
                margin-bottom: 10px;


                b {
                    width:25%;
                }
                select {
                    text-align: right;
                    margin-left:12px;
                    width:27%;
                }
                input {
                    width:48%;
                }
            }
          

            div {
                text-align: center;
                h3 {
                    text-align: center;
                    margin:7px auto;
                }
            }
        }
    }

    #mapid { height: 100%; width:100%; z-index: 5; }

    .share_btn{
        display: inline-block;
        text-decoration: none;
        width: 75px;
        height: 75px;
        line-height: 75px;
        font-size: 37px;
        border-radius: 50%;
        text-align: center;
        vertical-align: middle;
        overflow: hidden;
        font-weight: bold;
        text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.28);
        transition: .3s;

        &:hover {
                box-shadow: 0 3px 3px rgba(0, 0, 0, 0.28);
                -webkit-transform: translateY(-5px);
                -ms-transform: translateY(-5px);
                transform: translateY(-5px);
                cursor:pointer;
        }
    }
    .share_btn .fa{
        line-height: 75px;
    }
   
    .shtw {
        color: #22b8ff;
        background-image: -webkit-linear-gradient(#aeecff 0%, #57c8ff 100%);
        background-image: linear-gradient(#aeecff 0%, #57c8ff 100%);
    }
    .shfb {
        color: #6183f3;
        background-image: -webkit-linear-gradient(#b5d3ff 0%, #6b8bff 100%);
        background-image: linear-gradient(#b5d3ff 0%, #6b8bff 100%);
    }
    .shpkt{
        color: #ff6d82;
        background-image: -webkit-linear-gradient(#ffcfd7 0%, #ff7285 100%);
        background-image: linear-gradient(#ffcfd7 0%, #ff7285 100%);
    }
    .shfdly{
        color: #2ac408;
        background-image: -webkit-linear-gradient(#b9ffca 0%, #80e067 100%);
        background-image: linear-gradient(#b9ffca 0%, #80e067 100%);
    }
    .shgp{
        color: #ea4158;
        background-image: -webkit-linear-gradient(#ffa8a8 0%, #ff5d5d 100%);
        background-image: linear-gradient(#ffa8a8 0%, #ff5d5d 100%);
    }

}